.contacts {
  grid-area: contacts;
  padding-left: 90px;

  @media (max-width: $desktop-width) {
    padding-left: 50px;
    margin-bottom: 22px;
    border-right: none;
  }

  @media (max-width: $tablet-width) {
    padding-left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 15px;
    margin-bottom: 13px;
  }
}

.contacts .page-footer__sectoion-title {
  @media (max-width: $desktop-width) {
    margin-bottom: 22px;
  }

  @media (max-width: $tablet-width) {
    padding-right: 18px;
    margin-bottom: 20px;
  }
}

.contacts__mail {
  position: relative;
  margin: 0;
  margin-bottom: 16px;
  padding-left: 42px;
  padding-top: 3px;
  font-size: 14px;
  line-height: 17px;
  color: $red;
  text-decoration: underline;

  @media (max-width: $desktop-width) {
    margin-bottom: 14px;
  }

  @media (max-width: $tablet-width) {
    padding-right: 18px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 26px;
    height: 20px;
    background-image: url("../img/mail.svg");
  }
}

.contacts__mail-label {
  display: none;

  @media (max-width: $desktop-width) {
    display: initial;
  }
}

.contacts__mail-adress {
  @media (max-width: $desktop-width) {
    display: none;
  }
}

.contacts__phone {
  position: relative;
  margin: 0;
  padding-left: 42px;
  padding-top: 3px;
  font-size: 16px;
  line-height: 32px;
  color: $red;
  text-decoration: underline;

  @media (max-width: $tablet-width) {
    padding-left: 40px;
    padding-right: 18px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    background-image: url("../img/phone-footer.svg");
  }
}
