.modal {
  position: fixed;
  z-index: 5;
  display: flex;
  width: 728px;
  min-height: 444px;
  top: 50vh;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: $lightgray;
  font-size: 25px;
  line-height: 42px;
  letter-spacing: 0.2px;
  text-align: center;

  @media (max-width: $tablet-width) {
    width: 100%;
    min-height: 568px;
  }

  &--buy {
    background-image: url("../img/modal-bkg.jpg");
    background-repeat: no-repeat;

    @media (max-width: $tablet-width) {
      width: 100%;
      background-image: none;
    }
  }

  &--success {
    top: 70vh;
  }

  &--open {
    display: initial;
  }

  &--closed {
    display: none;
  }
}

.modal__content {
  width: 100%;
}

.modal--buy .modal__content {
  width: 390px;
  margin-left: auto;

  @media (max-width: $tablet-width) {
    width: 100%;
  }
}

.modal--success .modal__content {
  padding-top: 179px;
}

.modal__close-button {
  position: absolute;
  padding: 0;
  border: 0;
  right: 10px;
  top: 10px;
  background-color: transparent;
  width: 30px;
  height: 30px;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: rgba(20, 21, 23, 0.2);
    transform: rotate(45deg);
  }

  &::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: rgba(20, 21, 23, 0.2);
    transform: rotate(-45deg);
  }

  &:hover {
    &::after,
    &::before {
      background-color: $gray;
    }
  }

  &:active {
    &::after,
    &::before {
      background-color: $darkgray;
    }
  }
}

.modal__form {
  padding-top: 47px;
  padding-left: 59px;
  padding-right: 61px;

  @media (max-width: $tablet-width) {
    padding-top: 75px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.modal__form-title {
  font-size: 25px;
  line-height: 42px;
  font-weight: 600;
  margin-bottom: 50px;
}

.modal__form-field {
  box-sizing: border-box;
  width: 100%;
  height: 50px;
  margin-bottom: 20px;
  background-color: $white;
  border: 1px solid $silvergray;
  padding: 15px;
  padding-top: 17px;
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 14px;
  line-height: 17px;
  outline: none;

  @media (max-width: $tablet-width) {
    background-color: transparent;
  }

  &:hover {
    border-color: $lightgray;
  }

  &:focus {
    border-color: $gray;
  }

  &--phone {
    padding-left: 25px;
  }
}

.valid-check .modal__form-field {
  &:invalid {
    border-color: $red;
  }
}

.modal__form-button {
  width: 176px;
  min-height: 50px;

  @media (max-width: $tablet-width) {
    width: 288px;
  }
}

.modal__form-field-wrapper {
  margin: 0;
  position: relative;

  &::after {
    position: absolute;
    top: -33px;
    left: 0;
    content: "Данные не верны";
    font-size: 12px;
    color: $red;
    z-index: 5;
    display: none;
  }

  &--required {
    position: relative;

    &::before {
      position: absolute;
      top: -3px;
      left: 13px;
      content: "*";
      font-size: 15px;
      width: 10px;
      height: 10px;
      color: $red;
      z-index: 5;
    }
  }
}

.modal__form-field-wrapper.invalid {
  &::after {
    display: block;
  }
}
