$desktop-width: 1023px;
$tablet-width: 767px;
$mobile-width: 320px;

$white: #ffffff;
$lightgray: #fbf8f8;
$silvergray: #d7d9df;
$gray: #48494d;
$darkgray: #141517;
$black: #2c2e3f;
$lightred: #f17d4b;
$red: #fe7865;
$darkred: #c35d4e;
$blue: #4f7ba0;


/*rgba(20, 21, 23, 0.2)
rgba(20, 21, 23, 0.6)
rgba(44, 46, 63, 0.7)
rgba(44, 46, 63, 0.3)
rgba(44, 46, 63, 0.5)
rgba(255, 255, 255, 0.7)
rgba(41, 54, 66, 0.1*/
